ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

li {
  float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: #4CAF50;
}

h1 {
  text-align: center;
  background-color: snow;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-size: 60px;
  font-style: normal; font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  color: darkslategray;
}

body {
  font-size:1em;
  font-weight: lighter;
  color: darkslategray;
  font-family:Century "Gothic,CenturyGothic,AppleGothic,sans-serif";
  background-color: floralwhite;
  text-align: center;
}

img#plants3 {
  padding: 40px
}

img#plants1 {
  padding: 30px
}
img#plants2 {
  padding: 30px
}

.footer {
  background-color: #f1f1f1;
  padding: 100px;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;

  img#plants3 {
    padding: 40px
  }

  img#plants4 {
    padding: 30px
  }
  img#plants5 {
    padding: 30px
  }
  img#plants6 {
    padding: 40px
  }

  header {
    font-weight: bold;
    color: darkslategray;
    font-family:Century "Gothic,CenturyGothic,AppleGothic,sans-serif";
    background-color: floralwhite;
    text-align: center;
  }

  .dropdown {
    float: left;
    overflow: hidden;
  }

  .dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: red;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .show {
    display: block;
  }
